<style>
	.closed{
		color : red;
		text-decoration: line-through;
		font-style: italic;
		font-weight: bold;
	}

</style>
<h1>Bug Tracker</h1>
<hr>
<ol>
	{{#each list}}
		<li>
			{{#if isClosed}}
				<span class="closed">{{name}}</span>
			{{else}}
				<span>{{name}}</span>
			{{/if}}
			<span><a href="/bugs/toggle/{{id}}"> X </a></span>
		</li>
	{{/each}}
</ol>
<form action="/bugs/removeClosed" method="post">
	<input type="hidden" name="closedList" value="{{ids}}">
	<input type="submit" value="Remove Closed">
</form>